<html>  
  <head>    
    <meta charset="utf-8"/>
    <title>
      Shopping Confirmation Thank you Email
    </title>
    <style>
        table { padding:0; margin:0; }
        table td { padding:0; }
    </style>
  </head>
  {% assign customer_rec = customer.metafields.Level_pharmecy.Level_pharmecy | split : '|' %}
  <body style="margin:0; padding:0; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; color:#32322D; font-size:14px;">    
    <table cellpadding="0" cellspacing="0" class="container" style="width:700px; margin:0 auto; padding: 0;" width="700">      
      <tr>        
        <td style="padding:10px 0;">          
          <table cellpadding="0" cellspacing="0" class="header" style="width: 700px; padding: 0; ">            
            <tr>              
              <td class="header-left" style="padding: 0 0 0 32px;">                
                <div style="display:block; width:120px; min-width:120px; max-width:120px;">                  
                  <img alt="korres logo" class="korres-logo" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/12a789cd-1f41-4bde-a0af-11e881e78d35.png" style="display:inline-block"/>
                  <span style="display: inline-block; background-color: #DCDCDC; width: 1px; height: 16px; margin: 0 0 0 10px; "></span>
                </div>
              </td>
              <td class="header-right" style="width: 100%; text-align: right; padding: 0 32px 0 0;">                
                <div style="display:block; text-align:right; width: 100%;">                  
                  <a class="header-nav-link" href="https://korresshop-greece.myshopify.com/collections/all-products" style="margin:0 26px 0 0; display:inline-block; color: #050F96!important;text-decoration: none;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Shop</a>
                  <a class="header-nav-link" href="https://www.google.com/" style="margin:0 26px 0 0; display:inline-block; color: #050F96!important;text-decoration: none;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Full Circle</a>
                  <a class="header-nav-link" href="https://www.google.com/" style="margin:0 26px 0 0; display:inline-block; color: #050F96!important;text-decoration: none;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Giorgos &amp; Lena</a>
                  <a class="header-nav-link" href="https://korresshop-greece.myshopify.com/blogs/greece" style="margin:0 26px 0 0; display:inline-block; color: #050F96!important;text-decoration: none;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Greece</a>
                  <a class="header-nav-link" href="https://www.google.com/" style="margin: 0 0 0 0;display: inline-block;color: #050F96 !important;text-decoration: none;font-size: 12px; font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Anthology</a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="third">        
        <td style="padding:0 0 0 0;vertical-align:top; width: 700px; max-width: 700px; min-width: 700px;height: 466px; max-height: 466px; min-height: 466px;">          
          <img alt="KORRES | Recycle" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/aed70c08-87fc-4d30-9a8c-54eaae45c116.gif" style="display: block; margin:0 auto; width: 700px; max-width: 700px; min-width: 700px; margin:0 auto; height: 466px; max-height: 466px; min-height: 466px;"/>
        </td>
      </tr>
      <tr>        
        <td>          
          <p class="text-order" style="color: #180E96;font-size: 20px;font-weight: 300;text-align: center;margin: 26px auto 32px auto;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
            &Eta; &pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha; &sigma;&omicron;&upsilon; &epsilon;&tau;&omicron;&iota;&mu;ά&zeta;&epsilon;&tau;&alpha;&iota;
          </p>
        </td>
      </tr>
      <tr>        
        <td bgcolor="#ffffff" style="padding:0 0 16px 0; height:38px;" width="100%">          
          <table class="w-636" style="width: 636px; margin: 0 auto; border: 1px solid #DCDCDC; border-radius:10px; box-shadow: 0px 0px 6px #00000029;">            
            <tr>              
              <td style="padding: 6px 0 6px 26px; vertical-align: middle; ">                
                <span class="left" style=" color: #32322D;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    ">&Pi;ό&nu;&tau;&omicron;&iota; &Pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha;&sigmaf;</span>
              </td>
              <td style="padding: 6px 26px 6px 0;  vertical-align:middle;">                
                <div class="right round" style="display: inline-block; float: right; border-radius:10px; background: #050F96;color:#ffffff;font-size: 14px;line-height: 24px; font-weight: 300; height: 24px;padding: 0 10px;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                  
                  <span style="font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">+ {{customer.metafields.points.loyalty}}</span>
                  <span style="font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Pi;ό&nu;&tau;&omicron;&iota;</span>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>        
        <td style="padding:0 0 16px 0;">          
          <table class="w-636" style="width:636px; margin:0 auto; border: 1px solid #DCDCDC; border-radius:10px; box-shadow: 0px 0px 6px #00000029;">            
            <tr>              
              <td class="" style="vertical-align:top; padding:0 0 16px 0;">                
                <div class="box-shadow round" style="display:block; padding: 0 26px;">                  
                  <div class="section-orders first-row" style="padding: 16px 0 10px 0; color: #32322D; border-bottom: 1px solid #DCDCDC;">                    
                    <span class="left" style=" display:inline-block; color: #32322D;font-size: 14px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Alpha;&rho;&iota;&theta;&mu;ό&sigmaf; &Pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha;&sigmaf;:</span>
                    <span class="right" style=" display:inline-block; float:right; color: #050F96;font-size: 12px;font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{{ order_name }}</span>
                  </div>
                  <div class="section-orders" style="padding: 10px 0; color: #32322D;">                    
                    <span class="left" style="color: #32322D;font-size: 12px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Eta;&mu;&epsilon;&rho;&omicron;&mu;&eta;&nu;ί&alpha; &Pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha;&sigmaf;</span>
                    <div class="right" style="color: #050F96;display: inline-block;float: right;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color:#050F96; display: inline-block; font-size: 12px;font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{{ order.created_at | date: "%d/%m/%Y"  }}</span>
                    </div>
                  </div>
                  <div class="section-orders" style="padding: 10px 0; color: #32322D;">                    
                    <span class="left" style="color: #32322D;font-size: 12px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Ά&xi;ί&alpha; &Pi;&rho;&omicron;ϊό&nu;&tau;&omega;&nu;</span>
                    <div class="right" style="color:#050F96; display: inline-block;float: right; font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color:#050F96; display: inline-block; font-size: 12px;font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">€{{ subtotal_price | money_without_currency }}</span>
                    </div>
                  </div>
                  <div class="section-orders" style="padding: 10px 0; color: #32322D;">                    
                    <span class="left" style="        color: #32322D;
        font-size: 12px;
        font-weight: 300;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Tau;&rho;ό&pi;&omicron;&sigmaf; &Pi;&lambda;&eta;&rho;&omega;&mu;ή&sigmaf;</span>
                    <div class="right" style=" color: #050F96; display: inline-block;float: right;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color:#050F96; display: inline-block; font-size: 12px;font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Pi;&lambda;&eta;&rho;ώ&theta;&eta;&kappa;&epsilon; &mu;&epsilon; &kappa;ά&rho;&tau;&alpha;</span>
                    </div>
                  </div>
                  <div class="section-orders" style="padding: 10px 0; color: #32322D;">                    
                    <span class="left" style="color: #32322D;font-size: 12px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Kappa;ό&sigma;&tau;&omicron;&sigmaf; &Alpha;&pi;&omicron;&sigma;&tau;&omicron;&lambda;ή&sigmaf;</span>
                    <div class="right" style="color:#050F96; display: inline-block;float: right; font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color:#050F96; display: inline-block; font-size: 12px;font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">€{{ shipping_price | money_without_currency }}</span>
                    </div>
                  </div>
                  <div class="section-orders" style=" margin:5px 0 0 0; border-top: 1px solid #DCDCDC; padding: 10px 0 20px 0; color: #32322D;">                    
                    <span class="left" style="display: inline-block; color: #32322D;font-size: 12px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                      <span class="total" style="display:block; color: #32322D;font-size: 14px; font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Sigma;ύ&nu;&omicron;&lambda;&omicron;</span>
                      <span class="vat" style="display:block; color: #B9B9B9;font-size: 10px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Phi;.&Pi;.&Alpha;. &Sigma;&upsilon;&mu;&pi;&epsilon;&rho;&iota;&lambda;&alpha;&mu;&beta;ά&nu;&epsilon;&tau;&alpha;&iota;</span>
</span>
                    <div class="right" style="color:#050F96; display: inline-block;float: right; font-size: 14px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color:#050F96; display: inline-block; font-size: 14px;font-weight: 400; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">€{{ total_outstanding | money_without_currency }}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>        
        <td style="padding:0 0 16px 0;">          
          <table class="w-636" style="width: 636px; margin: 0 auto;border: 1px solid #DCDCDC; border-radius:10px; box-shadow: 0px 0px 6px #00000029;">            
            <tr>              
              <td class="" style="vertical-align:top; padding:0 0 16px 0;">                
                <div class="box-shadow round" style="display:block; padding: 0 26px;">                  
                  <div class="section-shipping-info first-row" style="padding:0 0 10px 0;border-bottom: 1px solid #DCDCDC;padding:24px 0 8px 0;">                    
                    <span class="left" style="color: #050F96; font-size: 14px; font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Sigma;&tau;&omicron;&iota;&chi;&epsilon;ί&alpha; &Pi;&alpha;&rho;ά&delta;&omicron;&sigma;&eta;&sigmaf;:</span>
                  </div>
                  <div class="section-shipping-info" style="padding:16px 0 10px 0;">                    
                    <span class="left" style="color: #32322D;font-size: 10px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Pi;&alpha;&rho;ά&delta;&omicron;&sigma;&eta;:</span>
                    <div class="right" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{% if shipping_method.title == 'Store'%}Αποστολή με Courier{% else %} &Pi;&alpha;&rho;&alpha;&lambda;&alpha;&beta;ή &alpha;&pi;ό &tau;&omicron; &Kappa;&alpha;&tau;ά&sigma;&tau;&eta;&mu;&alpha; {% endif %}</span>
                    </div>
                  </div>
                  <div class="section-shipping-info" style="padding:0 0 10px 0;">                    
                    <span class="left" style="color: #32322D;font-size: 10px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Ό&nu;&omicron;&mu;&alpha;:</span>
                    <div class="right" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span class="shipname" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{% if shipping_method.title == 'Store'%} {{customer_rec[0]}} {% else %} {{ customer.first_name }} {{ customer.last_name }} {% endif %}</span>
                   </div>
                  </div>
                  <div class="section-shipping-info" style="padding:0 0 10px 0;">                    
                    <span class="left" style="color: #32322D;font-size: 10px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Delta;&iota;&epsilon;ύ&theta;&upsilon;&nu;&sigma;&eta;:</span>
                    <div class="right" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span class="shiplocation" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{% if shipping_method.title == 'Store'%} {{customer_rec[1]}} {% else %} {{ shipping_address | format_address }} {% endif %}</span>
                    </div>
                  </div>
                  <div class="section-shipping-info" style="padding:0 0 22px 0;">                    
                    <span class="left" style="color: #32322D;font-size: 10px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&eta;&lambda;έ&phi;&omega;&nu;&omicron; &epsilon;&pi;&iota;&kappa;&omicron;&iota;&nu;&omega;&nu;ί&alpha;&sigmaf;:</span>
                    <div class="right" style="color: #32322D;display: inline-block;font-size: 10px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                      
                      <span class="shipphone" style="color: #32322D; display: inline-block; font-size: 10px; font-weight: 400;      font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">{% if shipping_method.title == 'Store'%} {{customer_rec[2]}} {% else %} {{ customer.phone }} {% endif %} 
                    </span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>        
        <td>          
          <table class="w-636 order-table" style="width: 636px; margin: 0 auto; border: 1px solid #00000029; border-radius: 10px; box-shadow: 0px 0px 6px #00000029;">            
            <tr>              
              <td style="">                
                <table class="w-636" style="width: 100%; margin: 0 auto;">                  
                  <tr>                    
                    <td class="first-row" style="padding:20px 26px 0 26px; ">                      
                      <span class="left" style="color: #050F96; display: inline-block; font-size: 14px; font-weight: 300; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">&Pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha;</span>
                      <span class="right" style=" margin:0 10px 0 0; color: #32322D; display: inline-block; font-size: 10px; font-weight: 300; float: right; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;"> {{ line_items.size }} Items</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
      {% for line in subtotal_line_items %}   
            <tr>              
              <td style="padding:0 26px;">                
                <table class="w-636" style="width: 100%;margin: 0 auto;">                  
                  <tr>                    
                    <td colspan="3" style="width:100%; height:1px; ">                      
                      <span style="width:100%; height:1px; background:#DCDCDC; display:block;">&nbsp;</span>
                    </td>
                  </tr>
                  <tr>   
      
                    <td class="border-top" style="padding: 20px 0 0 0;">                      
                      <table class="w-100" style="width:100%; margin:0 auto;">                        
                        <tr>  
   {% if line.image %}                        
                          <td class="product-img" style=" width:98px; max-width:98px; min-width:98px; height:98px; max-height:98px; min-height:90px; padding:0 20px 0 0; vertical-align: middle;">                            
                            <img alt="product" src="{{ line | img_url: 'small' }}"/>
                          </td>
              {%endif%}
                                       {% if line.product.title %}  
            {% assign line_title = line.product.title %}  
          {% else %}  
            {% assign line_title = line.title %}  
          {% endif %}
                                 {% if line.quantity < line.quantity %}
            {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
          {% else %}
            {% assign line_display = line.quantity  %}
          {% endif %}
                          <td class="product-info" style="vertical-align: middle; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                            
                            <p class="product-name" style="color: #2C2C28;font-size: 14px; font-weight: 300; margin: 0 0 2px 0;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
       
      {{ line_title }}
                            </p>
                            
                            <p class="product-quantity" style="color: #2C2C28; font-size: 12px; font-weight: 300;margin: 0 0 0 0;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
           &Pi;&omicron;&sigma;ό&tau;&eta;&tau;&alpha;:  {{ line_display }}
                            </p>
                          </td>
                          <td class="product-price" style="width:84px; max-width:84px; min-width:84px; color: #2C2C28;font-size: 14px;font-weight: 400; vertical-align: middle; padding:0px 10px 0 0; text-align:right; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">                            
                            <span style="width:84px; max-width:84px; min-width:84px; color: #2C2C28;font-size: 14px;font-weight: 400;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                          
              
        <span class="order-list__item-original-price">€{{ line.final_line_price| money_without_currency }}</span>
              
            
              </span>
                          </td>
                        </tr>
                      </table>
                    </td>
          
                  </tr>
                </table>
              </td>
            </tr>
                     
                    {%endfor%}     
              </td>
            </tr>
          </table>
           <tr style="display: block ">        
        <td style="padding: 30px 0 0px 0;">          
          <table class="container-btn" style="width: 636px; margin:0 auto; ">            
            <tr>              
              <td>                
                <p class="text" style="color: #32322D; font-size: 12px;font-weight: 300;margin: 0 0 22px 0;text-align: center; font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                  * &Omicron;&iota; &Pi;ό&nu;&tau;&omicron;&iota; &Pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha;&sigmaf; &pi;&rho;&omicron;&sigma;&tau;ί&theta;&epsilon;&nu;&tau;&alpha;&iota; &mu;&epsilon;&tau;ά &tau;&eta;&nu; &pi;&lambda;&eta;&rho;&omega;&mu;ή. &Delta;&epsilon;&sigmaf; &tau;&omicron;&upsilon;&sigmaf; &nu;&alpha; &alpha;&upsilon;&xi;ά&nu;&omicron;&nu;&tau;&alpha;&iota; &sigma;&tau;&omicron; My Circles.
                </p>
              </td>
            </tr>
            <tr>              
              <td>                
                <table class="section-btn" style="width: 636px;  margin:0 auto;">                  
                  <tr>                    
                    <td class="left" style="text-align:right; padding:0 12px 0 0;">                      
                      <a class="btn btn-bg-white" href="https://www.google.com/" style="        width: 200px;
        height: 40px;
        border: 1px solid #180E96;
        font-size: 14px;
        line-height: 40px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        background: #ffffff;
        color: #050F96;
        text-decoration: none;
        display: block;
        float: right;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">&Chi;&rho;&epsilon;&iota;ά&zeta;&epsilon;&sigma;&alpha;&iota; &Beta;&omicron;ή&theta;&epsilon;&iota;&alpha;;</a>
                    </td>
                    <td class="right" style="text-align:left; padding:0;">                      
                      <a class="btn btn-bg-blue" href="https://www.google.com/" style="width: 200px;height: 40px;border: 1px solid #180E96;font-size: 14px;line-height: 40px;font-weight: 400; text-align: center;cursor: pointer;background: #050F96;color: #ffffff;text-decoration: none;display: block;float: left;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">&Delta;&epsilon;&sigmaf; &tau;&eta;&nu; &pi;&alpha;&rho;&alpha;&gamma;&gamma;&epsilon;&lambda;ί&alpha; &sigma;&omicron;&upsilon;</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr> 
      <tr>        
        <td>          
          <table class="footer" style="width:700px; height:120px; margin:0 auto;">            
            <tr id="topFooter">              
              <td>                
                <table class="footer-top-shadow" width="100%">                  
                  <tr>                    
<!--Top shadow-->
                    <td bgcolor="#ffffff" height="5">                      
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">                        
                        <tbody>                          
                          <tr>                            
                            <td bgcolor="#ffffff" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#fefefe" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#fcfcfc" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#f8f8f8" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#ffffff" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#ffffff" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                          <tr>                            
                            <td bgcolor="#ffffff" height="4">                              
                              <div style="width:1px;height:4px"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
<!--END Top shadow-->
                  </tr>
                </table>
              </td>
            </tr>
            <tr>              
              <td style="padding: 0 32px;">                
                <table width="100%" class="footer-bot" >                  
                  <tr>                    
                    <td class="left" style="text-align:center;">                      
                      <table width="100%">                        
                        <tr>                          
                          <td>                            
                            <p style="color:#B9B9B9; font-size:10px; font-weight:300; text-align:center; margin: 0 auto 15px auto;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                              &Kappa;&alpha;&tau;έ&beta;&alpha;&sigma;&epsilon; &tau;&omicron;
                              <br/>
                              KORRES Circle App
                            </p>
                          </td>
                        </tr>
                        <tr>                          
                          <td style="text-align:center;">                            
                            <table cellpadding="0" cellspacing="0" style="width:70px; margin:0 auto; text-align:center;">                              
                              <tr>                                
                                <td style="text-align:center;">                                  
                                  <div style="width:70px; margin:0 auto; text-align:center;">                                    
                                    <a href="https://www.google.com/" style="display:inline-block; width:18px; height:22px; display:inline-block; margin:0 20px 0 auto;" target="_blank">
                                      <img alt="download for ios" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/c4c0bd99-40ef-48bf-a6f0-471c7a199fbd.png"/>
</a>
                                    <a href="https://www.google.com/" style="display:inline-block; width:19px; height:21px;display:inline-block;" target="_blank">
                                      <img alt="download for google play" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/ad11fa98-3c2e-48ec-9f69-859ad4fa847a.png"/>
</a>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                                        
                      <td class="middle" style="text-align:center; display:block;">                        
                        <img alt="korres logo" class="logo-footer" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/12a789cd-1f41-4bde-a0af-11e881e78d35.png" style="display:block; margin:0 auto 18px auto;"/>
                        <p style="font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; color:#656565; margin: 0 auto 6px auto; font-size: 10px; font-weight: 300; text-align: center;">
                          &copy; 2021 KORRES &Mu;&epsilon; &epsilon;&pi;&iota;&phi;ύ&lambda;&alpha;&xi;&eta; &kappa;ά&theta;&epsilon; &nu;ό&mu;&iota;&mu;&omicron;&upsilon; &delta;&iota;&kappa;&alpha;&iota;ώ&mu;&alpha;&tau;&omicron;&sigmaf;
                        </p>
                        <div class="footer-ul" style="margin: 0; padding: 0; display: block; text-align: center;">                          
                          <a href="https://www.google.com/" style="display:inline-block; color: #180E96;text-decoration: underline;font-size: 12px;font-weight: 300;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">Ό&rho;&omicron;&iota; &pi;ώ&lambda;&eta;&sigma;&eta;&sigmaf;</a>
                          <a href="https://www.google.com/" style="display:inline-block; color: #180E96;text-decoration: underline;font-size: 12px;font-weight: 300; margin: 0 26px;font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;" target="_blank">&Pi;&omicron;&lambda;&iota;&tau;&iota;&kappa;ή &alpha;&pi;&omicron;&rho;&rho;ή&tau;&omicron;&upsilon;</a>
                        </div>
                      </td>
                    
                    <td class="right" style="text-align:center;">                      
                      <p style="font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;color:#B9B9B9; font-size:10px; font-weight:300; text-align:center; margin: 0 auto 10px auto;">
                        &Mu;&pi;&omicron;&rho;&epsilon;ί&tau;&epsilon; &nu;&alpha; &mu;&alpha;&sigmaf; &beta;&rho;&epsilon;ί&tau;&epsilon;
                      </p>
                      <div style="display:block; text-align:center;">                        
                        <a href="https://www.google.com/" style="display:inline-block;" target="_blank">
                          <img alt="facebook" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/ec687c0e-407b-46ee-8bb9-90755c4334f9.png" style="display:inline-block;"/>
</a>
                        <a href="https://www.google.com/" style="display:inline-block; margin:0 4px;" target="_blank">
                          <img alt="instagram" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/a44fad97-44c1-4e7d-ad65-5668529a7d09.png" style="display:inline-block;"/>
</a>
                        <a href="https://www.google.com/" style="display:inline-block;" target="_blank">
                          <img alt="youtube" src="https://d3k81ch9hvuctc.cloudfront.net/company/Xtb59D/images/b7695047-33ff-4c98-b66f-9b67dca3bfc5.png" style="display:inline-block;"/>
</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>