<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  function validateForm() {
    var x = document.forms["#create_customer"]["customer[email]"].value;
    if (x == "") {
      alert("Name must be filled out");
      return false;
    }
  }
</script>

<style>
  @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

  .checkbox input[type=checkbox],
  .checkbox-inline input[type=checkbox],
  .radio input[type=radio],
  .radio-inline input[type=radio] {
    left: 3px; 
  }

  #map_canvas {
    height: 525px;
    width: 100%;
    border-radius: 4px;
  }

  body.customers-register.banner-open form#create_customer {
    width: 100%;
  }
  div#step3 {
    width: 65%;
    position: relative;
    left: 18%;
  }

  .floating-label.deafult-pharma {
    margin: 0px 0;
    width: 73%;
  }

  .overlay {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 00px;
    left: 00px;
    padding: 0;
    background: #FFF;
    z-index: +999;
    width: 73%;
    margin: 0 11.4% 0 0;
    display: block;
    border: 2px solid #cccecf;
    border-width: 2px 2px 2px 1px;
  }
  select#foo_select {
    background: #fcf7f1;
    height: 180px;
    margin-bottom: 22px;
    overflow: hidden;
  }
  #foo_select option:checked {
    color: cyan;
    font-size: 17px;
    background: #000;
    background: linear-gradient(#fcf7f1ad, #fcf7f1b0);
    border-bottom: 1px solid #000;
  }

  #foo_select option {
    padding: 5px 5px;
  }

  body.customers-login .container {
    margin-top: 180px;
  }


  i.fa.fa-eye {
    position: absolute;
    right: 15px;
    font-size: 17px;
    color: #cccecf;
    top: 42px;
  }

  i.fa.fa-eye {
    cursor: pointer;
  }

  .floating-label.show-pass {
    position: relative;
  }

  .floating-label.show-re-pass {
    position: relative;
  }



  .log-left {
    width: 33%;
    float:left;
  }

  input.error-field {
    border: 3px solid #002f87 !important;
  }

  .log-right {
    width: 60%;
    float:left;
  }

  .floating-label {
    display: block;}

  body.customers-login .container {
    margin-top: 180px;
    max-width: 100%;
    margin: 180px 3.5% 0;
    padding: 0;
  }

  h1.n-heading-one {
    color: #060e9b;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    font-size: 33px;
    font-family: 'Roboto Mono', monospace !important;
  }

  .log-left h1 {
    font-size: 25px;
    line-height: 1.5;
  }

  .floating-label {
    display: block;
  }

  .floating-label label {
    color: #333;
    margin-left: 18px;
  }

  .floating-label label {
    font-size: 16px;
    line-height: 1.15;
  }

  .customers-login .floating-label input {
    border: 1px solid #cccecf;
    background: transparent !important;
    color: #002f87 !important;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 25px !important;
  }

  span.reqq-field {
    DISPLAY: NONE;
  }

  form#create_customer.formhaserror span.reqq-field {
    display: block;
    color: #002f87;
    padding: 15px;
    font-size: 16px;
    text-align: center;
  }

  [type='email']:focus{
    border: 1px solid #cccecf;
  }

  .log-map-selection {
    width: 55%;
    float: left;

  }

  .log-Form-field {
    width: 45%;
    float: left;
  }

  ul#ui-id-1 {
    padding: 0;
    list-style: none;
    background: #fff;
    width: 366px !important;
    z-index: +999;
  }

  ul#ui-id-1 li {
    font-size: 17px;
    padding: 8px 15px;
    color: #cccecf;
  }

  .selected-pharmacy p {
    width: fit-content;
    float: left;
    color: #060d9c;
    font-size: 18px;
    position: relative;
    top: 4px;
  }

  .selectedAreas {
    width: 80%;
    margin: 0 auto;
  }

  .selected-pharmacy p {
    width: fit-content;
    float: left;
    color: #060d9c;
    font-size: 18px;
    position: relative;
    top: 4px;
  }

  .selectedAreas {
    display: none;
  }

  ul#ui-id-1 li:hover div {
    color: #070d9d;
  }

  ul#ui-id-1 li {
    padding: 20px 30px;
  }


  #ui-id-1::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  #ui-id-1::-webkit-scrollbar-track {
    background: #fff; 
  }

  /* Handle */
  #ui-id-1::-webkit-scrollbar-thumb {
    background: #fff; 
  }

  /* Handle on hover */
  #ui-id-1::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

  .custom-combobox {
    position: relative;
    display: inline-block;
  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }

  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  .selected-pharmacy img {
    float: right;
    position: relative;
    top: -5px;
    width: 30px;
  }

  input#tester {
    background: #fff;
    border: 2px solid #002f87;
    padding: 14px 36px;
    border-radius: 32px;
    color: #002f87;
    font-weight: 400;
    font-size: 18px;
    margin: 36px auto 0;
    display: block;
  }

  input#tester:hover {
    background: #002f87;
    color: #fff;
  }

  .f-bor-f {
    padding: 20px 0 20px;
    border-top: 2px solid #cccecf;
    display: block;
    margin-top: 40px;
    width: 116%;
    left: -7.5%;
    position: relative;
  }

  .selected-pharmacy {
    padding: 17px 20px 5px;
    display: table;
    border: 2px solid #cccecf;
    width: 100%;
    border-width: 2px 2px 0px 2px;
  }

  .selectedAreas {
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 73%;
    margin: 0 7%;
    top: 30px;
  }

  .log-Form-field {
    width: 45%;
    float: left;
    padding: 0 3.5%;
  }

  .customers-login .floating-label input {
    margin-bottom: 20px;
  }

  .log-map-selection {
    width: 55%;
    float: left;
    position: relative;
    padding: 0 3.5%;
    top: -35px;
  }

  .selectedAreas .selected-pharmacy:last-child {
    border-bottom: 1px solid #cccecf;
  }

  .selectedAreas {
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 73%;
    margin: 0 7%;
    top: 118px;
  }
  input.custom-combobox-input::placeholder {
    font-size: 17px;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    top: 11px;
    left: 18px;
    color: #cccecf;
  }

  i.Remove-loc {
    font-size: 18px;
    font-style: normal;
    color: #f00;
    font-family: 'Roboto Mono', monospace !important;
    width: fit-content;
    position: relative;
    right: -83px;
    background: #fff;
    padding: 6px 8px;
    line-height: 1;
    border-radius: 29px;
    float: right;
    top: -4px;
  }

  input.custom-combobox-input {
    font-size: 17px;
    font-family: "Graphik", Helvetica, Arial, sans-serif;
    color: #030899;
  }

  span.custom-combobox {
    width: 100%;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 17px 10px;
    width: 100%;
    border: none;
  }

  p.map-poi-title {
    color: #cccecf;
    font-size: 18px;
    line-height: 1.15;
    margin-left: 0px;
    font-weight: 300;
  }

  button.next-btn {
    background: #fff;
    border: 2px solid #002f87;
    padding: 14px 36px;
    border-radius: 32px;
    color: #002f87;
    font-weight: 400;
    font-size: 18px;
    margin: 36px auto 0;
    display: block;
  }

  /*   .tab-pane {
  width: 30%;
  margin: 0 auto;
  } */

  .custom-combobox-input {
    margin: 0;
    padding: 12px 10px 15px;}

  .progressbar-dots {
    height: 22px;
    width: 22px;
    margin: 0 15px;
    background: lightgray;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 2px grey inset;
  }

  .progressbar-dots.active {
    background-color: #002f87;
    box-shadow: inset 0px 0px 0px 2px #f7f7f7;
    border: 2px solid #c6c6c6;
    height: 22px;
    width: 22px;
  }
  .prog-container {
    width: fit-content;
    margin: 0 auto 40px;
  }

  ul#ui-id-1 {
    display: block !important;
  }

  ul#ui-id-1 {
    display:none !important;
    width: 35% !important;
    overflow-y: scroll;
    position: relative !important;
    height: 300px !important;
    min-height: 80vh;
    LEFT: 0 !IMPORTANT;
  }

  ul#ui-id-1.active {
    display: block !important;}

  .pharm-selection {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }

  .defau-selection {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }

  /*   body.customers-register.banner-open .container {
  margin-top: 180px;
  max-width: 99%;
  margin: 180px 0% 0;
  padding: 0;
  }

  */
  body.customers-register.banner-open .container{
    margin-top:180px; 
    padding:0;
  }
  .ndnapps-sociallogin-wrapper {
    DISPLAY: NONE;
  }

  ul#ui-id-1 > li { cursor: pointer; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent !important;
  }


  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(68 68 68 / 0%);}

  div#divMapModal {
    position: absolute;
    top: 115px;
    left: 15px;
    width: fit-content;
  }
  div#divMapModal .modal-content p {
    width: 65%;
    font-size: 13px;
    color: #909090;
    line-height: 1.5;
  }

  body.modal-open {
    overflow: unset;
  }

  div#divMapModal .modal-content {
    padding: 15px 15px 30px;
    width: 100%;
    border-radius: 8px;
    border: none;
  }
  div#divMapModal button.btn-close {
    width: 15px;
    display: block;
    margin: 0 0 0 auto;
    border: none;
    background: transparent;
    color: #d9d9d9;
    font-size: 15px;
    font-family: 'Graphik';
    position: absolute;
    right: 18px;
    top: 10px;
  }
  div#divMapModal .btn {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 25px;
    background: transparent;
    color: #000686;
    font-size: 15px;
    margin: 16px auto 6px;
    display: block;
    border-color: #0a109f;
  }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
  }

  .modal-backdrop.show {
    opacity: 0.5;
    display: none !important;
  }
  .floating-label i.fa.fa-star {
    color: #002f87;
    margin-left: 10px;
  }
  p.signup-checkbox input[type=radio] {
    width: 14px;
    height: 14px;
  }
  .signup-checkbox input[type="radio"] {
    appearance: auto;
    visibility: visible;
  }
  p.signup-checkbox label {
    font-size: 14px;
  }
  .signup-checkbox input[type="radio"] + label{
    font-size:14px;
  }
  .signup-checkbox a{
    color: #002f87;
  }
  h1.circle-text {
    font-weight: 300;
    color: #002f87;
    margin-top: 40%;
    text-align: center;
    line-height: 1.5;
  }
  span.news-additional-text {
    font-size: 14px;
    width: 100%;
    position: relative;
    left: 100%;
    top: -20px;
    text-align: left;
    display: block;
    color: #002f87;
    margin-left: 10px;
  }
  .floating-label span.news-additional-text{
    top: -50px;
    margin-left: 10px;
  }
  .points-circle img {
    max-width: 400px;
  }
  p.signup-checkbox a {
    text-decoration: underline;
  }
</style>

<script src="https://kit.fontawesome.com/b38d30c7e6.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<div class="container" id="register-container">

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

      <h1 class="circle-text tab-pane" id="step1">
        Create your Circle to unlock the prices of your favourite store and receive gifts for your purchases
      </h1>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="style-poi-multiple"></div>
      {% form 'create_customer' %}



      {{ form.errors | default_errors }}


      {% comment %}      <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" autocomplete="off" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" autocomplete="off" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
      {% endcomment %}

      <div class="tab-content">



        <div class="tab-pane "  style="display:block;">


          <div class="floating-label">

            <label for="register_email">Email <i class="fa fa-star" aria-hidden="true"></i></label>
            <input
                   id="register_email"
                   type="email" autocomplete="nope"
                   name="customer[email]" placeholder="eg maria@gmail.com"
                   data-rule="required|email" required class="focus-visible" data-toggle="validator"
                   />
          </div>

          <div class="floating-label show-pass">

            <label for="register_password">Password<i class="fa fa-star" aria-hidden="true"></i></label>
            <input
                   id="register_password" class="show-pass"
                   type="password" 
                   name="customer[password]"
                   autocomplete="off" placeholder="Minimum 8 Case-sensitive characters"
                   data-rule="required-8|minlength-8" required focus-visible
                   />
            <i class="fa fa-eye"></i>
          </div>

          <div class="floating-label">
            <input hidden id="register_key"
                   type="text"
                   name="customer[note][key]"
                   placeholder="Password"
                   data-rule="required-8|minlength-8" focus-visible
                   />
          </div>


          <!--         
<script type="text/javascript">


$('#register_password').change(function() {
$('#register_key').val($(this).val());
});


</script>
-->

          <div class="floating-label show-re-pass">

            <label for="register_password">Retype Password <i class="fa fa-star" aria-hidden="true"></i></label>
            <input type="password" value="" name="customer[password_confirmation]" autocomplete="off" id="password_confirm" required/>
            <i class="fa fa-eye"></i>
          </div>    

          <div class="floating-label">

            <label for="first_name"> Name<span style="color:#cccecf"> (Optional)</span></label>
            <input
                   id="first_name"
                   type="text" autocomplete="nope"
                   name="customer[first_name]"
                   data-rule="required|firstname"
                   />
          </div>

          <div class="floating-label">

            <label for="last_name">Surname <span style="color:#cccecf"> (Optional)</span></label>
            <input
                   id="last_name"
                   type="text" autocomplete="nope"
                   name="customer[last_name]"
                   data-rule="required|lastname"
                   />
          </div>        
          <div class="floating-label">

            <label for="mobile_number">Protect Your Account <span style="color:#cccecf"> (Optional)</span></label>
            <input
                   id="mobile_number"
                   type="number" autocomplete="nope"
                   name="customer[mobile_number]"

                   />
            <span class="news-additional-text">
              We will use your mobile when we need to verify it is You
            </span>
          </div>      
          <p class="signup-checkbox">
            <label style="display:inline; float:none" for="agree">
              <input style="float:none; vertical-align: middle;" type="radio" name="terms"  id="agree" required />

              I agree with the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
            </label>
          </p>
          <p class="signup-checkbox">
            <label style="display:inline; float:none" for="agree2">
              <input style="float:none; vertical-align: middle;" type="radio" id="agree2" required />

              Subscribe me to <a href="#">Korres News</a>.
            </label>
            <span class="news-additional-text">
              Extra points added to your Circle by joining the Community
            </span> 
          </p>

          <div class="f-bor-f"></div>     

          <input type="submit" id="tester" value="Complete Sign up" class="btn" required onSubmit = "return checkPassword(this)">
          <span class="reqq-field">* REQUIRED FIELDS</span>

        </div>
      </div>       


    </div>
    {% endform %}

  </div>



  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">



  </div>



</div>

<!--   <div class="row tab-content">
<div class="points-circle tab-pane" id="step2-circle">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

<img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/points-circle.png?v=1625654954" >


</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<h1>Hurrraaay! </h1>
<h2>You are in the White Circle now and you have been rewarded with 30 Points!</h2>
<p>Wanna start shopping now?</p>
<p>	<button class="next-btn next-btn2" type="button">Select your Korres selling store
</button></p>
</div>
</div> -->
</div>
</div>


<script>
  function displayVals() {
    var multipleValues = $( "#foo_select" ).val() || [];
    $( 'select[name="customer[note][Default]"]' )
    .html( '<option>' + multipleValues.join( '</option><option>' ) + '</option>' );
  }



  $( "select#foo_select" ).change( displayVals );
  displayVals();
</script>



<script type="text/javascript">


  $(document).ready(function() {

    var last_valid_selection = null;

    $('#foo_select').change(function(event) {

      if ($(this).val().length > 3) {

        $(this).val(last_valid_selection);
      } else {
        last_valid_selection = $(this).val();
      }
    });
  });
</script>

<script type="text/javascript">


  $('#register_password').change(function() {
    $('#register_key').val($(this).val());
  });


</script>


<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

</script>




{%comment%}
{{ 'jquery.validate.js' | asset_url | script_tag }}
{%endcomment%}
<script>  


  var v = $("#create_customer").validate({
    rules: {
      'customer[email]': {
        required: true,
        email: true

      },
      'customer[password]': {
        required: true,
        minlength: 8,
        pwcheck: true,
        maxlength: 25

      },
      'customer[password_confirmation]': {
        required: true,
        minlength: 8,
        maxlength: 25,
        equalTo: "#register_password"
      },
      'customer[first_name]': {
        required: true,
        iamtext: true,
        maxlength: 15
      },
      'customer[note][default_pharmacy]': {
        required: true,
      },
      'customer[last_name]': {
        required: true,
        iamtext: true,
        maxlength: 15
      }
    },
    errorPlacement: function(error, element) {
      error.insertAfter('.form-group');
    }, 
    highlight: function(element) {
      $(element).addClass('error-field');
      $(element).parent().parent().parent().addClass('formhaserror');
    },
    unhighlight: function(element) {
      $(element).removeClass('error-field');
      $(element).parent().parent().parent().removeClass('formhaserror');
    }
  });

  $.validator.addMethod("pwcheck", function(value) {
    return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value)
    && /[a-z]/.test(value) 
    && /[A-Z]/.test(value) 
    && /\d/.test(value) 
  });


  $.validator.addMethod("iamtext", function(value) {
    return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value)
  });



  $(".next-btn0").click(function() {

    $(".tab-pane").hide();
    $("#step1").fadeIn(1000);
    $('.progressbar-dots').removeClass('active');
    $('.progressbar-dots:nth-child(1)').addClass('active');
    $("#ui-id-1").removeClass('active');
  });



  $(".next-btn1").click(function() {

    $(".tab-pane").hide();
    $("#step2").fadeIn(1000);
    $("#step2-circle").fadeIn(1000);
    $('.progressbar-dots').removeClass('active');
    $('.progressbar-dots:nth-child(2)').addClass('active');
    $("#ui-id-1").removeClass('active');

  });
  $(".next-btn2").click(function() {

    $(".tab-pane").hide();
    $("#step3").fadeIn(1000);
    $('.progressbar-dots').removeClass('active');
    $('.progressbar-dots:nth-child(3)').addClass('active');
    $("#ui-id-1").addClass('active');


  });
  $("#tester").click(function() {

    $(".tab-pane").hide();
    $("#step3").fadeIn(1000);
    $('.progressbar-dots').removeClass('active');
    $('.progressbar-dots:nth-child(3)').addClass('active');

  });


  $("#tester").click(function() {
    if (v.form()) {
      return true;
    }
  });




</script>

<script>

  $(function(){
    $('.show-pass i').on('mousedown',function(){
      $('#register_password').attr('type','text');
    }).on('mouseup',function(){
      $('#register_password').attr('type','password');
    });
  });
</script>

<script>
  $(function(){
    $('.show-re-pass i').on('mousedown',function(){
      $('#password_confirm').attr('type','text');
    }).on('mouseup',function(){
      $('#password_confirm').attr('type','password');
    });
  });
</script>


<script type="text/javascript">


  $('#register_password').change(function() {
    $('#register_key').val($(this).val());
  });


</script>

<script type="text/javascript">


  $('#default_pharmacy').change(function() {
    var value = $('#default_pharmacy').val().split(', ');

    var firstName = value.shift();

    var restOfNames = value.join(' ');

    $('#filter_pharamcy_name').val(firstName);
  });


</script>
<script>
  (function() {
    var REDIRECT_PATH = '/pages/form-success';

    var selector = '#create_customer, form[action$="/account"][method="post"]',
        $form = document.querySelectorAll(selector)[0];

    if ($form) {
      $redirect = document.createElement('input');
      $redirect.setAttribute('name', 'return_to');
      $redirect.setAttribute('type', 'hidden');
      $redirect.value = REDIRECT_PATH;
      $form.appendChild($redirect);
    }
  })();
</script>
<script>


  jQuery(function()
         {
    jQuery('#create_customer').validate(
      {
        rules:
        {
          terms:{ required:true }
        },
        messages:
        {
          terms:
          {
            required:"Please select a terms<br/>"
          }
        },
        errorPlacement: function(error, element) 
        {
          if ( element.is(":radio") ) 
          {
            error.appendTo( element.parents('.signup-checkbox') );
          }
          else 
          {
            error.insertAfter( element );
          }
        }
      });

  });


</script>

<script>
  $(function(){
    $('#create_customer').submit(function(e) {     
      if ( $('input[name="customer[password]"]').val() != $('input[name="customer[password_confirmation]"]').val()) {

        alert('Passwords do not match.');
        e.preventDefault();
      } else  {
        console.log('Password match')
      }
    });
  });



</script>
