<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{'reset_password.css' | asset_url | stylesheet_tag}}
<main class="Reset_page">
  <div class="mainbg">
    {% form 'reset_customer_password', id: "reset_password" %}
    <h3>Create new password</h3>
    <p style="margin-bottom:50px !important;">Enter a new password for your account.</p>
    <div class="form-group col-xs-12 col-md-12">
      <div class="input_cover">
        <label for="reset_password">Password<b>*</b></label>
        <input  
               id="login_password"
               type="password"
               autocomplete="off"
               name="customer[password]"
               placeholder="12345678"
               {%- if form.errors contains 'form' -%}
               class="input--error val-password"
               aria-invalid="true"
               {%- endif -%}
               />
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-12">
      <div class="input_cover">
        <label for="password_confirm">Retype Password<b>*</b></label>
        <input
               id="con_login_password"
               type="password"
               autocomplete="off"
               name="customer[password_confirmation]"
               placeholder="12345678"
               {%- if form.errors contains 'form' -%}
               class="input--error"
               aria-invalid="true"
               {%- endif -%}
               />
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
      <p class="error_pass" style="display:none;">The password must contain at least 8 characters, 1 uppercase, 1 lowercase, number and 1 special character.</p>
    </div>
    <div class="error-container">
      {{ form.errors | default_errors }}
    </div>
    <div class="form-group col-xs-12 col-md-12">
      <a href="javascript:void(0);" class="primary-btn reset_botton disabled">Submit</a>
      <input class="accept-autoclick" type="submit" value="Submit" style="display:none;" />
    </div>
    {% endform %}
  </div>
</main>
{% form 'customer' %}
  <input type="hidden" name="contact[email]" value="anthony@netlynx.com">
  <input type="hidden" name="contact[tags]" value="tag_to_add,{{ customer.tags | join ',' }}"/>
  <div class="input-wrapper hide">
    <input class="button" type="submit" name="subscribe" value="Add the new tag!">
  </div>
{% endform %}
{{ 'jquery.validate.js' | asset_url | script_tag }}
<script>
  var errorPass = $('.error_pass').text();
  
  $.extend(jQuery.validator.messages, {
    required: "This field is required.",
    equalTo: "Please enter the same value again.",
    pwcheck: errorPass
  });
  var v = $("#reset_password").validate({
    rules: {
      'customer[password]': {
          required: true,
          pwcheck: true,
          minlength: 8,
          maxlength: 25
      },
      'customer[password_confirmation]': {
          required: true,
          minlength: 8,
          maxlength: 25,
          equalTo: "#login_password"
      }
    }
  });

  $.validator.addMethod("pwcheck", function(value) {
    return /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%&*])[a-zA-Z0-9!@#$%&*]+$/.test(value)
    && /[a-z]/.test(value)
    && /[A-Z]/.test(value)
    && /\d/.test(value)
  });
  
 $('#reset_password').on("input",function (e)  {
    var pass = $('input[name="customer[password]"]').val();
    var cpass = $('input[name="customer[password_confirmation]"]').val();

    if (pass == '' || cpass == '') {
      $('.customers-reset_password .reset_botton').addClass('disabled');
    } else if (cpass != pass) {
      $('.customers-reset_password .reset_botton').addClass('disabled');
    } else {
      $('.customers-reset_password .reset_botton').removeClass('disabled');
    }
  });
  
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $(this).parent('.input_cover').find('input');
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
  
  $(".reset_botton").click(function() {
    if (v.form()) {
      var id =$('[name="id"]').val();
        var pass =$('[name="customer[password]"]').val();
        var url = "https://api.korresfamily.com/api/v1/ResetPasswordshopifytorooll?id="+id+"&password="+pass;
        $.ajax({
          url: url,
          type: 'GET',
          success:function(res){
            window.location.href = "{{ shop.url }}/account/login";
          },
          error: function (error) {
            return false;
          }
        });
        e.preventDefault();
  }
  });
</script>