<div class="cooperations-section">
  <h1>{{ section.settings.cooperations-title }}</h1>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-kozani-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-kozani-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-kozani-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-kozani-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-kozani-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-crete-1-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-crete-1-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-crete-1-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-crete-1-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-crete-1-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-naxos-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-naxos-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-naxos-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-naxos-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-naxos-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-santorini-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-santorini-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-santorini-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-santorini-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-santorini-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-pindos-1-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-pindos-1-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-pindos-1-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-pindos-1-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-pindos-1-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-pindos-2-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-pindos-2-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-pindos-2-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-pindos-2-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-pindos-2-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-arcadia-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-arcadia-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-arcadia-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-arcadia-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-arcadia-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-rodopi-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-rodopi-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-rodopi-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-rodopi-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-rodopi-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-olympus-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-olympus-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-olympus-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-olympus-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-olympus-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-larissa-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-larissa-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-larissa-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-larissa-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-larissa-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-thesprotia-1-link }}" class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-thesprotia-1-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-thesprotia-1-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-thesprotia-1-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-thesprotia-1-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-evros-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-evros-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-evros-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-evros-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-evros-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-kilkis-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-kilkis-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-kilkis-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-kilkis-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-kilkis-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-crete-2-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-crete-2-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-crete-2-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-crete-2-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-crete-2-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-thesprotia-2-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-thesprotia-2-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-thesprotia-2-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-thesprotia-2-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-thesprotia-2-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-crete-3-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-crete-3-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-crete-3-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-crete-3-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-crete-3-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-crete-4-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-crete-4-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-crete-4-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-crete-4-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-crete-4-herb }}</span>
    </div>
  </a>
  <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}{{ section.settings.pin-crete-5-link }}"  class="row no-gutters" >
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 border-right">
      <span class="region">
        {{ section.settings.pin-crete-5-region }}<span></span>
      </span>
      <span class="ingredient">{{ section.settings.pin-crete-5-herb-mobile }}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 border-right">
      <span class="name">{{ section.settings.pin-crete-5-producer }}</span>
      <div class="read-more-container">
        <span class="text">{{ section.settings.cooperations-read-more }}</span>
        <span class="long-arrow-right"></span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <span class="ingredient">{{ section.settings.pin-crete-5-herb }}</span>
    </div>
  </a>
</div>

{% schema %}
{
"name": "Page Greece Cooperations",
"settings": [
{
"id":"cooperations-title",
"type":"text",
"label":"Cooperations Title",
"default":"The Cooperations"
},
{
"id":"cooperations-read-more",
"type":"text",
"label":"Cooperations Read More",
"default":"Read More"
},
{
"id":"pin-evros-region",
"type":"text",
"label":"Region Evros",
"default":"ORESTIADA"
},
{
"id":"pin-evros-herb",
"type":"text",
"label":"Herb Evros",
"default":"Sunflower / Helianthus Annuus"
},
{
"id":"pin-evros-herb-mobile",
"type":"text",
"label":"Herb Evros Mobile",
"default":"Sunflower / Helianthus Annuus"
},
{
"id":"pin-evros-producer",
"type":"text",
"label":"Name of Producer Evros",
"default":"Argiri Ntintoudi"
},
{
"id":"pin-evros-link",
"type":"text",
"label":"Link of Evros Herb Page",
"default":"/pages/herb-sunflower"
},
{
"id":"pin-rodopi-region",
"type":"text",
"label":"Region Rodopi",
"default":"KOMOTINI"
},
{
"id":"pin-rodopi-herb",
"type":"text",
"label":"Herb Rodopi",
"default":"Calendula / Calendula Officinalis"
},
{
"id":"pin-rodopi-herb-mobile",
"type":"text",
"label":"Herb Rodopi Mobile",
"default":"Calendula / Calendula Officinalis"
},
{
"id":"pin-rodopi-producer",
"type":"text",
"label":"Name of Producer Rodopi",
"default":"Giorgos Ereliadis"
},
{
"id":"pin-rodopi-link",
"type":"text",
"label":"Link of Rodopi Herb Page",
"default":"/pages/herb-calendula"
},
{
"id":"pin-kilkis-region",
"type":"text",
"label":"Region Kilkis",
"default":"KILKIS"
},
{
"id":"pin-kilkis-herb",
"type":"text",
"label":"Herb Kilkis",
"default":"Wild Rose / Rosa Canina"
},
{
"id":"pin-kilkis-herb-mobile",
"type":"text",
"label":"Herb kilkis Mobile",
"default":"Wild Rose / Rosa Canina"
},
{
"id":"pin-kilkis-producer",
"type":"text",
"label":"Name of Producer Kilkis",
"default":"Balkan Botanic Garden of Kroussia"
},
{
"id":"pin-kilkis-link",
"type":"text",
"label":"Link of Kilkis Herb Page",
"default":"/pages/herb-wild-rose"
},
{
"id":"pin-kozani-region",
"type":"text",
"label":"Region Kozani",
"default":"KOZANI"
},
{
"id":"pin-kozani-herb",
"type":"text",
"label":"Herb Kozani",
"default":"Krocus Kozanis / Crocus sativus"
},
{
"id":"pin-kozani-herb-mobile",
"type":"text",
"label":"Herb Kozani Mobile",
"default":"Crocus sativus"
},
{
"id":"pin-kozani-producer",
"type":"text",
"label":"Name of Producer Kozani",
"default":"Kozani Saffron Producers Cooperative"
},
{
"id":"pin-kozani-link",
"type":"text",
"label":"Link of Kozani Herb Page",
"default":"/pages/herb-krocus-kozanis"
},
{
"id":"pin-olympus-region",
"type":"text",
"label":"Region Olympus",
"default":"OLYMPUS MOUNTAIN"
},
{
"id":"pin-olympus-herb",
"type":"text",
"label":"Herb Olympus",
"default":"Olympus Tea / Sideritis Scardica"
},
{
"id":"pin-olympus-herb-mobile",
"type":"text",
"label":"Herb Olympus Mobile",
"default":"Olympus Tea / Sideritis Scardica"
},
{
"id":"pin-olympus-producer",
"type":"text",
"label":"Name of Producer Olympus",
"default":"Vassilis + Dimitris Chalkias"
},
{
"id":"pin-olympus-link",
"type":"text",
"label":"Link of Olympus Herb Page",
"default":"/pages/herb-olympus-tea"
},
{
"id":"pin-larissa-region",
"type":"text",
"label":"Region Larissa",
"default":"LARISSA"
},
{
"id":"pin-larissa-herb",
"type":"text",
"label":"Herb Larissa",
"default":"Almond Tree / Prunus Dulcis"
},
{
"id":"pin-larissa-herb-mobile",
"type":"text",
"label":"Herb Larissa Mobile",
"default":"Almond Tree / Prunus Dulcis"
},
{
"id":"pin-larissa-producer",
"type":"text",
"label":"Name of Producer Larissa",
"default":"Nikos Perifanos"
},
{
"id":"pin-larissa-link",
"type":"text",
"label":"Link of Larissa Herb Page",
"default":"/pages/herb-almond-tree"
},
{
"id":"pin-pindos-1-region",
"type":"text",
"label":"Region Pindos 1",
"default":"PINDUS"
},
{
"id":"pin-pindos-1-herb",
"type":"text",
"label":"Herb Pindos 1",
"default":"Black Pine / Pinus Nigra"
},
{
"id":"pin-pindos-1-herb-mobile",
"type":"text",
"label":"Herb Pindos 1 Mobile",
"default":"Black Pine / Pinus Nigra"
},
{
"id":"pin-pindos-1-producer",
"type":"text",
"label":"Name of Producer Pindos 1",
"default":"Michalis Chliapas / In cooperation with the Directorate of Forests of Grevena"
},
{
"id":"pin-pindos-1-link",
"type":"text",
"label":"Link of Pindos 1 Herb Page",
"default":"/pages/herb-black-pine"
},
{
"id":"pin-pindos-2-region",
"type":"text",
"label":"Region Pindos 2",
"default":"PINDUS"
},
{
"id":"pin-pindos-2-herb",
"type":"text",
"label":"Herb Pindos 2",
"default":"White Pine / Pinus heldreichii"
},
{
"id":"pin-pindos-2-herb-mobile",
"type":"text",
"label":"Herb Pindos-2 Mobile",
"default":"White Pine / hinus Heldreichii"
},
{
"id":"pin-pindos-2-producer",
"type":"text",
"label":"Name of Producer Pindos 2",
"default":"Michalis Chliapas / In cooperation with the Directorate of Forests of Grevena"
},
{
"id":"pin-pindos-2-link",
"type":"text",
"label":"Link of Pindos 2 Herb Page",
"default":"/pages/herb-white-pine"
},
{
"id":"pin-thesprotia-1-region",
"type":"text",
"label":"Region Thesprotia 1",
"default":"THESPROTIA"
},
{
"id":"pin-thesprotia-1-herb",
"type":"text",
"label":"Herb Thesprotia 1",
"default":"Sage / Salvia fruticosa"
},
{
"id":"pin-thesprotia-1-herb-mobile",
"type":"text",
"label":"Herb Thesprotia 1 Mobile",
"default":"Sage / Salvia fruticosa"
},
{
"id":"pin-thesprotia-1-producer",
"type":"text",
"label":"Name of Producer Thesprotia 1",
"default":"Maria Komini"
},
{
"id":"pin-thesprotia-1-link",
"type":"text",
"label":"Link of Thesprotia 1 Herb Page",
"default":"/pages/herb-sage"
},
{
"id":"pin-thesprotia-2-region",
"type":"text",
"label":"Region Thesprotia 2",
"default":"THESPROTIA"
},
{
"id":"pin-thesprotia-2-herb",
"type":"text",
"label":"Herb Thesprotia 2",
"default":"Balsam / Hypericum Perforatum"
},
{
"id":"pin-thesprotia-2-herb-mobile",
"type":"text",
"label":"Herb Thesprotia 2 Mobile",
"default":"Balsam / Hypericum Perforatum"
},
{
"id":"pin-thesprotia-2-producer",
"type":"text",
"label":"Name of Producer Thesprotia 2",
"default":"Maria Komini"
},
{
"id":"pin-thesprotia-2-link",
"type":"text",
"label":"Link of Thesprotia 2 Herb Page",
"default":"/pages/herb-balsam"
},
{
"id":"pin-arcadia-region",
"type":"text",
"label":"Region Arcadia",
"default":"ARCADIA"
},
{
"id":"pin-arcadia-herb",
"type":"text",
"label":"Herb Arcadia",
"default":"Castanea Arcadia / Castanea Sativa"
},
{
"id":"pin-arcadia-herb-mobile",
"type":"text",
"label":"Herb Arcadia Mobile",
"default":"Castanea Arcadia / Castanea Sativa"
},
{
"id":"pin-arcadia-producer",
"type":"text",
"label":"Name of Producer Arcadia",
"default":"Dimitris Maniatis"
},
{
"id":"pin-arcadia-link",
"type":"text",
"label":"Link of Arcadia Herb Page",
"default":"/pages/herb-castanea-arcadia"
},
{
"id":"pin-naxos-region",
"type":"text",
"label":"Region Naxos",
"default":"NAXOS"
},
{
"id":"pin-naxos-herb",
"type":"text",
"label":"Herb Naxos",
"default":"Thyme / Thymus vulgaris"
},
{
"id":"pin-naxos-herb-mobile",
"type":"text",
"label":"Herb Naxos Mobile",
"default":"Thymus vulgaris"
},
{
"id":"pin-naxos-producer",
"type":"text",
"label":"Name of Producer Naxos",
"default":"Nikos Chatziandreou"
},
{
"id":"pin-naxos-link",
"type":"text",
"label":"Link of Naxos Herb Page",
"default":"/pages/herb-thyme"
},
{
"id":"pin-santorini-region",
"type":"text",
"label":"Region Santorini",
"default":"SANTORINI"
},
{
"id":"pin-santorini-herb",
"type":"text",
"label":"Herb Santorini",
"default":"Santorini Grape / Vitis Venifera"
},
{
"id":"pin-santorini-herb-mobile",
"type":"text",
"label":"Herb Santorini Mobile",
"default":"Santorini Grape / Vitis Venifera"
},
{
"id":"pin-santorini-producer",
"type":"text",
"label":"Name of Producer Santorini",
"default":"Union of Santorini Cooperatives / Santowine"
},
{
"id":"pin-santorini-link",
"type":"text",
"label":"Link of Santorini Herb Page",
"default":"/pages/herb-santorini-grape"
},
{
"id":"pin-crete-1-region",
"type":"text",
"label":"Region Crete 1",
"default":"CRETE / ZOUNAKI"
},
{
"id":"pin-crete-1-herb",
"type":"text",
"label":"Herb Crete 1",
"default":"Olive Tree / Olea europea"
},
{
"id":"pin-crete-1-herb-mobile",
"type":"text",
"label":"Herb Crete 1 Mobile",
"default":"Olive Tree / Olea europea"
},
{
"id":"pin-crete-1-producer",
"type":"text",
"label":"Name of Producer Crete 1",
"default":"Athanasia Papadantonaki"
},
{
"id":"pin-crete-1-link",
"type":"text",
"label":"Link of Crete 1 Herb Page",
"default":"/pages/herb-olive-tree"
},
{
"id":"pin-crete-2-region",
"type":"text",
"label":"Region Crete 2",
"default":"CRETE / MESSARA"
},
{
"id":"pin-crete-2-herb",
"type":"text",
"label":"Herb Crete 2",
"default":"Olive Tree / Olea Europea"
},
{
"id":"pin-crete-2-herb-mobile",
"type":"text",
"label":"Herb Crete 2 Mobile",
"default":"Olive Tree / Olea Europea"
},
{
"id":"pin-crete-2-producer",
"type":"text",
"label":"Name of Producer Crete 2",
"default":"Organic Farmers Cooperative of Messara"
},
{
"id":"pin-crete-2-link",
"type":"text",
"label":"Link of Crete 2 Herb Page",
"default":"/pages/herb-olive-tree-messara"
},
{
"id":"pin-crete-3-region",
"type":"text",
"label":"Region Crete 3",
"default":"CRETE / ARKALOCHORI"
},
{
"id":"pin-crete-3-herb",
"type":"text",
"label":"Herb Crete 3",
"default":"Dittany / Origanum Dictamnus"
},
{
"id":"pin-crete-3-herb-mobile",
"type":"text",
"label":"Herb Crete 3 Mobile",
"default":"Dittany / Origanum Dictamnus"
},
{
"id":"pin-crete-3-producer",
"type":"text",
"label":"Name of Producer Crete 3",
"default":"Vaggelis Kastrinakis"
},
{
"id":"pin-crete-3-link",
"type":"text",
"label":"Link of Crete 3 Herb Page",
"default":"/pages/herb-dittany"
},
{
"id":"pin-crete-4-region",
"type":"text",
"label":"Region Crete 4",
"default":"CRETE / ARKALOCHORI"
},
{
"id":"pin-crete-4-herb",
"type":"text",
"label":"Herb Crete 4",
"default":"Marjoram/ Origanum Majorana"
},
{
"id":"pin-crete-4-herb-mobile",
"type":"text",
"label":"Herb Crete 4 Mobile",
"default":"Marjoram/ Origanum Majorana"
},
{
"id":"pin-crete-4-producer",
"type":"text",
"label":"Name of Producer Crete 4",
"default":"Vaggelis Kastrinakis"
},
{
"id":"pin-crete-4-link",
"type":"text",
"label":"Link of Crete 4 Herb Page",
"default":"/pages/herb-marjoram"
},
{
"id":"pin-crete-5-region",
"type":"text",
"label":"Region Crete 5",
"default":"CRETE / LEFKA ORI"
},
{
"id":"pin-crete-5-herb",
"type":"text",
"label":"Herb Crete 5",
"default":"Malotira / Sideritis Syriaca"
},
{
"id":"pin-crete-5-herb-mobile",
"type":"text",
"label":"Herb Crete 5 Mobile",
"default":"Malotira / Sideritis Syriaca"
},
{
"id":"pin-crete-5-producer",
"type":"text",
"label":"Name of Producer Crete 5",
"default":"Vaggelis Kastrinakis"
},
{
"id":"pin-crete-5-link",
"type":"text",
"label":"Link of Crete 5 Herb Page",
"default":"/pages/herb-malotira"
}
]
}
{% endschema %}

