<div class="reward_circle_main width-1784">
  <div class="cover">
    <div class="inner">
      <div class="cssprogresscontainer">
        {% assign points = shop.metafields.circle.level_Blue_Circle | split : '|' | last | plus:0 %}


        {% assign pointsPer = points | times:360 | divided_by:2000  | plus:25.2 %}
        {% if points > 880 %}
        {% assign pointsPer = points | times:360 | divided_by:2000  | minus:25.2 %}
        {% endif %}
      
    

        <input type="hidden" value="{{pointsPer}}" class="point_value">
        <div id="svgcontainer" data-pct="{{ pointsPer | split : '|' | last }}">
          <div class="cir_cv">
            <svg height="375" width="375" id="svg">
              <circle id="progressbg" cx="187.5" cy="187.5" r="120" stroke-width="20" fill="transparent" stroke-dasharray="753.9822368615503" />
              <circle id="progress" cx="187.5" cy="187.5" r="120" stroke-width="18" fill="transparent" stroke-dasharray="753.9822368615503" style="stroke-dashoffset: {{points}};" />
            </svg>
            <div class="dot" style="transform: translateY(-50%) rotate({{ pointsPer }}deg);">
              {% include 'dot_r' %}
            </div>

            <div class="dot_lock" style="transform: translateY(-50%);">
              <img src="{{ 'lock.svg' | asset_url }}">
            </div>
            <div class="dot_lock two" style="transform: translateY(-50%);">
              <img src="{{ 'lock.svg' | asset_url }}">
              <span class="txt">2000 pts</span>
            </div> 
            <div class="dot_tick" style="transform: translateY(-50%);">
              <img src="{{ 'tick_black.svg' | asset_url }}">
              <span class="txt">Upgrade</span>
            </div>
            <div class="blank" style="transform: translateY(-50%);">
              <img src="{{ 'cutt.png' | asset_url }}">

            </div>
          </div>
          <div id="slidervalue">{{points}}</div>
          <div class="slider_label">
            {{ section.settings.points}}
          </div>
          <div class="pro_image">
            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/123651748_4895796177127586_5009550035741061074_n_2x_5c4978dc-4b32-46e5-ac0f-212aeec56eec.png?v=1629184685">
          </div>
        </div>


        <br />
        <input type="range" id="slider" min="7" max="93">
        <br />Slide to test
      </div>


    </div>
    <div class="inner text_part">
      <div class="text_inner">
        <h3>{{ section.settings.title }}</h3>
        <span class="date">Joined: 5/6/21</span>
        <a href="javascript:;" class="btn_link"><b>900 more points</b> till {{ section.settings.btn_text }}</a>
        <a href="#" class="btn-new border">{{ section.settings.btn_text1 }}</a>
      </div>
    </div>
  </div>
</div>
<div class="earn_unloack_main">
  <h2>Earn & Unlock</h2>
  <span>Explore your gifts by earning points</span>
  <div class="earn_slider" data-flickity='{"adaptiveHeight": true, "imagesLoaded": true, "draggable": false, "cellAlign": "center","pageDots": false, "freeScroll": true ,"wrapAround":true}'>
    {% for block in section.blocks %}
    <div class="box">
      <div class="round" style="border-color:{{ block.settings.border }};">
        {% include 'lock_ic' %}
        <label>{{ block.settings.text }}</label>
        <div class="img_cv {% if block.settings.image != blank %}have{% endif %}" style="background-image:url('{{ block.settings.image | img_url:'master' }}');">
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>



<style>
  .reward_circle_main {
    margin-top: 90px;
  }
  .reward_circle_main .cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reward_circle_main .text_part h3{
    font-size:64px;
    line-height:55px;
    color:#31312C;
    font-weight:300;
    font-family: Roboto,sans-serif!important;
  }
  .reward_circle_main .inner{
    width:100%; 
    padding: 0 35px;
  }
  .reward_circle_main .inner svg{
/*     height: 525px;
    width: auto;
    margin: 0 auto;
    display: block;
    margin-right: 0; */
  }
  .reward_circle_main .text_part span{
    font-size:25px;
    line-height:26px;
    color:#B3B5B6;
    display:block;
    width:max-content;
    margin-bottom:39px;
    font-family: Roboto,sans-serif!important;
  }
  .reward_circle_main .text_part .btn_link{
    font-size: 25px;
    line-height: 33px;
    color: #050F96;
    font-family: Roboto,sans-serif!important;
    border-bottom: 1px #050F96 solid;
    display: block;
    width: max-content;
    margin-bottom: 50px;

  }
  .reward_circle_main .text_part .btn_link:hover{
    text-decoration:none; 
  }
  .reward_circle_main .text_part .btn-new{
    width: 273px;
    display: block;
  }
  .reward_circle_main .text_part .btn-new:hover{
    text-decoration:none; 
  }
  .earn_unloack_main h2{
    font-size:22px;
    color:#31312C;
    text-align:center;
    margin-bottom: 2px;
    font-family: Roboto,sans-serif!important;
  }
  .earn_unloack_main span{
    font-size:14px;
    line-height:16px;
    color:#707071;
    display:block;
    width:max-content;
    margin:0 auto;
    font-family: Roboto,sans-serif!important;
    font-weight:300;
  }
  .earn_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 0;
  }
  .earn_slider .box .round{
    background:#f0f0f0; 
    width:122px;
    height:122px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    border:2px transparent solid;
  }
  .earn_slider .box .round svg{
    width: 63px;
    height: 64px;
    position: absolute;
    top: 15px;
  }
  .earn_slider .box{
    margin: 0 10px;
    width: 9.6%;
    cursor:pointer;
  }
  .earn_slider .box:hover .img_cv.have{
   opacity:1; 
  }
  .earn_slider .box:hover .round{
    border:0;
  }
  .earn_slider .box .round label{
    font-size: 16px;
    line-height: 16px;
    color: #31312C;
    font-family: Roboto,sans-serif!important;
    font-weight: 300;
    margin: 0;
    margin-top: 35px;
  }
  .earn_slider .flickity-viewport{
    width:100%; 
  }
  .earn_slider .flickity-button{
    display:block !important; 
    background:transparent;
  }
  
  .earn_slider .flickity-prev-next-button.previous {
    left: -50px;
  }
  .earn_slider .flickity-prev-next-button.next {
    right: -50px;
  }
  .reward_circle_main .pro_image {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity:0;
  }
  .reward_circle_main.product_active .pro_image{
    opacity:1;
  }
  .reward_circle_main .pro_image img {
    width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .img_cv.have {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    opacity:0;
  }
  .slider_label {
    position: absolute;
    top: 53%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color:#31312C;
  }
  #svgcontainer{
    margin-right:70px; 
  }
  #svgcontainer div#slidervalue {
    opacity: 1 !important;
  }
  #slider{
    width: 300px;
    margin-right:110px;
  }

  #slidervalue{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 125px;
    left: 20%;
    font-size: 50px;
    font-weight: 100;
    color: #31312C;
    transition: color 1s linear;

    /*transform: rotate(90deg);*/
  }

  #svgcontainer{
    position: relative;
    display: inline-block;
    width: 375px;
    margin-top: 30px;
  }

  #svg{
    position:relative;
  }

  #progressbg{
    z-index:0;
    position:absolute;
    top:0px;

    box-shadow: 5px 5px 5px 5px #333;
    stroke: #dcdcdc;
  }

  #progress{
    stroke-dashoffset: 125px;
    stroke: #31312C;
    transition: stroke 1s linear;

    z-index:1;
    position:absolute;
    top:0px;
  }

  .cssprogresscontainer{
    text-align:right;
    padding: 0px 0px 160px;
  }
  .cir_cv {
    position: relative;
  }
  .cir_cv .dot {
    position: absolute;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    border: 20px transparent solid;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.3s linear;
    animation: rotate 0.3s infinite linear;
    z-index:11;
  }
  .cir_cv svg#degree {
    position: absolute;
    top: auto;
    bottom: -65px;
    left: 11px;
    right: 0;
    margin: 0 auto;
    width:72px;
  }
  .dot_lock {
    position: absolute;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    border: 20px transparent solid;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.3s linear;
    animation: rotate 0.3s infinite linear;
  }
  .dot_lock img {
    position: absolute;
    top: -35px;
    bottom: auto;
    left: 11px;
    right: 0;
    margin: 0 auto;
    width: 51px;
    height: 51px;
  }
  .dot_tick {
    position: absolute;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    border: 20px transparent solid;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.3s linear;
    animation: rotate 0.3s infinite linear;
     z-index:1;
}
  .dot_tick img {
    position: absolute;
    top: auto;
    bottom: -25px;
    left: -98px;
    right: 0;
    margin: 0 auto;
    width: 51px;
    height: 51px;
    z-index:1;
  }
  .dot_lock.two{
   z-index:1; 
  }
  .dot_lock.two img {
    top: auto;
    bottom: -25px;
    right: -98px;
    left: 0;
    z-index:1;
  }
  .blank{
    position: absolute;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    border: 20px transparent solid;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.3s linear;
    animation: rotate 0.3s infinite linear;
    z-index: 0;
  }
  .blank img{
    position: absolute;
    bottom: -22px;
    top: auto;
    left: 11px;
    right: 0;
    margin: 0 auto;
    width: 124px;
    height: 54px;
  }
  .dot_tick .txt {
    position: absolute;
    top: auto;
    bottom: -13px;
    left: -202px;
    right: 0;
    margin: 0 auto;
    width: 92px;
    height: auto;
    text-align: center;
    background: #31312C;
    color:#fff;
    padding: 3px 12px;
    border-radius: 50px;
    box-shadow: -1px 0px 4px 0px rgb(0 0 0 / 50%);
    font-size: 14px;
    z-index: 0;
    opacity:0;
  }
 .dot_tick img:hover+.txt {
    opacity: 1;
}
  .dot_lock.two .txt{
    position: absolute;
    top: auto;
    bottom: -13px;
    right: -202px;
    left: 0;
    margin: 0 auto;
    width: 92px;
    height: auto;
    text-align: center;
    background: #fff;
    padding: 3px 12px;
    border-radius: 50px;
    box-shadow: -1px 0px 4px 0px rgb(0 0 0 / 50%);
    font-size: 14px;
    z-index: 0;
    opacity:0;
    color:#31312C;
  }
  .dot_lock.two img:hover+.txt {
    opacity: 1;
  }
  
  @media(max-width:1200px){
   .earn_slider{
     padding: 30px 60px;
   }
    .earn_slider .flickity-prev-next-button.previous {
      left: 10px;
    }
    .earn_slider .flickity-prev-next-button.next {
      right: 10px;
    }
    .img_cv.have {
      width: 110px;
      height: 110px;
    }
    .earn_slider .box .round {
      width: 110px;
      height: 110px;
    }
    .earn_slider .box {
      width: 9.3%;
    }
  }
  @media(max-width:1024px){
    .reward_circle_main {
      margin-top: 88px;
    }
    .reward_circle_main .cover{
      flex-direction:column; 
   }
    .cssprogresscontainer{
      text-align:center; 
      padding: 0 0px 60px;
    }
    .reward_circle_main .text_part h3{
     text-align:center; 
    }
    .reward_circle_main .text_part span{
      margin:0 auto;
      margin-bottom:30px;
    }
    .reward_circle_main .text_part .btn_link{
      margin:0 auto;
      margin-bottom:40px;
    }
    .reward_circle_main .cover .text_inner{
      margin-bottom:40px; 
    }
    .reward_circle_main .text_part .btn-new{
     margin:0 auto; 
    }
    .earn_slider .box {
      width: 18.3%;
    }
    .earn_slider .box .round {
      width: 150px;
      height: 150px;
    }
    .img_cv.have {
      width: 150px;
      height: 150px;
    }
    #svgcontainer{
      margin-right:0; 
    }
  }
  @media(max-width:768px){
    .text_part h3 {
      font-size: 40px !important;
      line-height: 40px !important;
    }
    .reward_circle_main .text_part span {
      font-size: 20px;
      line-height: 20px;
    }
    .reward_circle_main .text_part .btn_link {
      font-size: 20px;
      line-height: 26px;
      margin-bottom:32px;
    }
    .earn_slider .box .round,.img_cv.have {
      width: 96px;
      height: 96px;
    }
  }
  @media(max-width:600px){
    .earn_slider .box {
      width: 33.33%;
    } 
  }
</style>

{% schema %}
  {
    "name": "Reward Circle Black",
    "class": "reward_circle_black",
    "settings": [
      {
        "type": "text",
        "id" : "title",
        "label" : "Title"
      },
      {
        "type": "text",
        "id" : "points",
        "label" : "Out of Points"
      },
      {
        "type": "text",
        "id" : "btn_text",
        "label" : "Button text"
      },
      {
        "type": "text",
        "id" : "btn_text1",
        "label" : "Button text back"
      }
],
"blocks": [
    {
      "type": "text_block",
      "name": "block",
      "settings": [
        {
          "type": "text",
          "id" : "text",
          "label" : "label"
        },
        {
          "type": "color",
          "id" : "border",
          "label" : "Border color"
        },
        {
          "type": "image_picker",
          "id" : "image",
          "label" : "Select image"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
